footer {
  color: white;
  background-color: #282c34;
  position: relative;
  height: 200px;
  padding: 15px;
}

.footerText {
  align-items: flex-end;
  display: flex;
  padding: 0 40px;
}

.copyFootLeft {
  flex: 1 1 auto;
  width: 30%;
}

.copyFootRight {
  flex: 1 1 auto;
  text-align: right;
  width: 30%;
}

.legal a {
  color: white;
  font-size: 12;
  text-decoration: none;
}

.legal ul {
  list-style-type: none;
}

.social {
  padding: 15px;
}

.social ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  list-style-type: none;
}

.social li {
  padding: 0 15px;
}

.social img {
  max-width: 45px;
  max-height: 35px;
  padding: 10px;
}

@media (max-width: 600px) {
  footer {
    height: 250px;
  }

  .footerText {
    display: block;
    padding: 0 10px;
  }

  .copyFootLeft {
    width: 100%;
  }

  .copyFootRight {
    width: 100%;
    padding-top: 15px;
    text-align: left;
  }

  .social li {
    padding: 0 10px;
  }

  .social img {
    margin-left: -30%;
    padding: 0;
  }
}

// @media (max-width: 750px) {
//   footer {
//     margin-bottom: 0;
//     margin-top: 50px;
//     height: 50vh;
//     padding: 15px;
//   }

//   .copyFootRight {
//     float: none;
//     margin-left: 14%;
//     margin-bottom: 40px;
//     padding: 10px;
//   }

//   .social li {
//     padding: 0 10px;
//   }

//   .social img {
//     margin-left: -30%;
//     padding: 0;
//   }
// }
