.sessionSpan {
  display: flex;
  flex: 0 0 auto;
  margin-bottom: 5%;
  align-items: center;
  color: #ffffff;
  background-color: #282c34;
}

.sessionTeam {
  margin-left: 1%;
}

.sessionUser {
  margin-left: auto;
  border-radius: 0px 0px 5px 5px;
}
