button {
  margin-left: 47%;
  margin-top: 20px;
}

.loginContainer {
  background-color: rgb(255, 248, 249);
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.userInput {
  margin-left: 40%;
  margin-bottom: 10px;
}

.descriptInput {
  margin-left: 40%;
}

.formHeading {
  font-size: 50px;
  display: flex;
  justify-content: center;
}
