h3 {
  color: #fa4242;
}

.formHeading {
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.loginDiv {
  margin-left: 40%;
  margin-top: 20px;
}

.loginDiv > h3 {
  margin-left: -20%;
  padding: 10px;
}

.loginForm {
  margin-left: -20%;
}

.loginContainer {
  background-color: #fff8f9;
  display: inline-block;
  margin: 20px;
}

.userInput {
  margin-left: 40%;
  margin-bottom: 10px;
  margin-top: 20px;
}

.descriptInput {
  margin-left: 40%;
}
