h3 {
  color: #fa4242;
}

.formHeading {
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.loginDiv {
  margin-left: 40%;
  margin-top: 20px;
}

.loginDiv > h3 {
  margin-left: -20%;
  padding: 10px;
}

.loginForm {
  margin-left: -20%;
}

.loginContainer {
  background-color: #ffffff;
  display: inline-block;
  justify-content: center;
  margin: 20px;
  border: 1px solid #000000;
  border-radius: 5px;
}

.userInput {
  margin-left: 40%;
  margin-bottom: 10px;
  margin-top: 20px;
}

.descriptInput {
  margin-left: 40%;
}

@media (min-width: 750px) {
  .loginContainer {
    margin-top: 10%;
    margin-left: 35%;
    margin-right: 20%;
  }
}
