.resultScreen {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
  font-size: 2em;
}

.resultScreen > button {
  margin-top: 10%;
}

.resultScreen > button:hover {
  background-color: black;
  color: white;
  transition: 200ms;
  box-shadow: none;
}

@media (max-width: 750px) {
  .resultScreen > h2 {
    margin-left: 20%;
  }

  .resultScreen > button {
    margin-bottom: 20%;
  }
}
