#returnButton {
  margin: 0 auto;
  display: flex;
}

.logoutContainer {
  flex: 0 0 auto;
  padding: 24px 0;
}

button:hover {
  background-color: black;
  color: white;
  transition: 200ms;
  box-shadow: none;
}
