.notFoundContainer {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: center;
  margin: 10% 20%;
  border: 1px solid #000000;
  border-radius: 5px;
}

.notFoundContainer > .homeButton {
  color: #ffffff;
  margin: auto auto 3% auto;
  background-color: #282c34;
  font-size: 18px;
  align-items: center;
}

.notFoundHead {
  display: flex;
  flex-direction: column;
  margin: auto;
}
