.cross,
.naught {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, auto);
}
.cells {
  display: flex;
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border: solid 1px #000000;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cross > {
  .cells[data-for='0']::before,
  .cells[data-for='0']::after {
    background-color: #021604;
  }

  .cells:not(.cells[data-for='0']):not(.cells[data-for='1']):hover:before,
  .cells:not(.cells[data-for='0']):not(.cells[data-for='1']):hover:after {
    background-color: grey;
  }

  .cells[data-for='0'],
  .cells[data-for='1'] {
    cursor: not-allowed;
  }

  .cells[data-for='0']::before,
  .cells[data-for='0']::after,
  .cells:not(.cells[data-for='0']):not(.cells[data-for='1']):hover:before,
  .cells:not(.cells[data-for='0']):not(.cells[data-for='1']):hover::after {
    position: absolute;
    content: '';
    width: 10px;
    height: 80px;
    border-radius: 2px;
  }

  .cells[data-for='0']::before,
  .cells:not(.cells[data-for='0']):not(.cells[data-for='1']):hover::before {
    transform: rotate(45deg);
  }

  .cells[data-for='0']::after,
  .cells:not(.cells[data-for='0']):not(.cells[data-for='1']):hover::after {
    transform: rotate(-45deg);
  }

  .cells[data-for='1']::before,
  .cells[data-for='1']::after {
    position: absolute;
    content: '';
    background-color: #021604;
    border-radius: 50%;
  }

  .cells[data-for='1']::before {
    background-color: #021604;
    width: 70px;
    height: 70px;
  }

  .cells[data-for='1']::after {
    width: 50px;
    height: 50px;
    background-color: white;
  }
}

.naught > {
  .cells[data-for='0']::before,
  .cells[data-for='0']::after,
  .cells[data-for='1']::before {
    background-color: #021604;
  }

  .cells:not(.cells[data-for='0']):not(.cells[data-for='1']):hover:before,
  .cells:not(.cells[data-for='0']):not(.cells[data-for='1']):hover:after {
    background-color: grey;
  }

  .cells[data-for='0'],
  .cells[data-for='1'] {
    cursor: not-allowed;
  }

  .cells[data-for='0']::before,
  .cells[data-for='0']::after,
  .cells:not(.cells[data-for='0']):not(.cells[data-for='1']):hover:before,
  .cells:not(.cells[data-for='0']):not(.cells[data-for='1']):hover::after {
    position: absolute;
    content: '';
    width: 10px;
    height: 80px;
    border-radius: 2px;
  }

  .cells[data-for='0']::before,
  .cells:not(.cells[data-for='0']):not(.cells[data-for='1']):hover::before {
    transform: rotate(45deg);
  }

  .cells[data-for='0']::after,
  .cells:not(.cells[data-for='0']):not(.cells[data-for='1']):hover::after {
    transform: rotate(-45deg);
  }

  .cells[data-for='1']::before,
  .cells[data-for='1']::after,
  .cells:not(.cells[data-for='0']):not(.cells[data-for='1']):hover::before,
  .cells:not(.cells[data-for='0']):not(.cells[data-for='1']):hover::after {
    position: absolute;
    content: '';
    border-radius: 50%;
  }

  .cells[data-for='1']::before,
  .cells:not(.cells[data-for='0']):not(.cells[data-for='1']):hover::before {
    width: 70px;
    height: 70px;
  }

  .cells[data-for='1']::after,
  .cells:not(.cells[data-for='0']):not(.cells[data-for='1']):hover::after {
    width: 50px;
    height: 50px;
    background-color: white;
  }
}
