.board {
  width: 100vw;
  height: 80vh;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, auto);
}

.boardLink {
  text-decoration: none;
}

.cells {
  width: 100px;
  height: 100px;
  border: solid 1px #000000;
}

.cells:hover {
  background-color: #dadada;
  transition: 300ms;
  cursor: pointer;
}
